@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';


@theme {
  /* Define the animation and the keyframes inside the theme block */
  --animate-warning-marquee: warning-marquee 40s linear infinite;

  @keyframes warning-marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
}

